<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RevitAddinFolder2022">
            <Component Id="cmp0CFA44585B6099759F24CBC13BA4F378" Guid="*">
                <File Id="filBB85AD6213AB4E819C105EDE8D9211E5" KeyPath="yes" Source="$(var.ExecutablesPath2022)\Ninject.dll" />
            </Component>
            <Component Id="cmpC253F49F7DE0CE4DC9EB53520C1C51FC" Guid="*">
                <File Id="fil3E4395D8215F8E4566D1671B46C11EBB" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.Core.dll" />
            </Component>
            <Component Id="cmp719BE88229264AFFC798DE8C67CB0293" Guid="*">
                <File Id="filD1ACFC739ED35E8526BB53702463A0C5" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.Core.pdb" />
            </Component>
            <Component Id="cmpB8B568209107B2A32736151C379FB8A0" Guid="*">
                <File Id="fil5E8DFDC8B2A781994C1FE4E3CF9E8B4E" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.Main.dll" />
            </Component>
            <Component Id="cmp782DACEB7ADE1B759FC94AAB70E3DD5C" Guid="*">
                <File Id="filDF34C43CD8FBA51267E5996AA77C176C" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.Main.pdb" />
            </Component>
            <Component Id="cmpE3DF820E06E8CD96F0C32A3F7E612E3A" Guid="*">
                <File Id="fil31B86B6DA62D2F04FF545485BAC1128C" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.UI.dll" />
            </Component>
            <Component Id="cmp9A27699031BD2B7F0EF7DF4B8B1398B9" Guid="*">
                <File Id="fil82A11BCB29D5DA0AA8E3C6AE1648DFFB" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.UI.pdb" />
            </Component>
            <Component Id="cmp561BC9229B2CC4F6C22795AFC0CFBFDF" Guid="*">
                <File Id="fil6DF7C1061CEF688E15E2188C150035D0" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.Web.dll" />
            </Component>
            <Component Id="cmp6FA39AF54C34F6C35D16E68A843EE592" Guid="*">
                <File Id="fil54C6CCB3539E31BC526FD4AE30755D1E" KeyPath="yes" Source="$(var.ExecutablesPath2022)\GroupWorkerTwo.Web.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ExecutablesGroup2022">
            <ComponentRef Id="cmp0CFA44585B6099759F24CBC13BA4F378" />
            <ComponentRef Id="cmpC253F49F7DE0CE4DC9EB53520C1C51FC" />
            <ComponentRef Id="cmp719BE88229264AFFC798DE8C67CB0293" />
            <ComponentRef Id="cmpB8B568209107B2A32736151C379FB8A0" />
            <ComponentRef Id="cmp782DACEB7ADE1B759FC94AAB70E3DD5C" />
            <ComponentRef Id="cmpE3DF820E06E8CD96F0C32A3F7E612E3A" />
            <ComponentRef Id="cmp9A27699031BD2B7F0EF7DF4B8B1398B9" />
            <ComponentRef Id="cmp561BC9229B2CC4F6C22795AFC0CFBFDF" />
            <ComponentRef Id="cmp6FA39AF54C34F6C35D16E68A843EE592" />
        </ComponentGroup>
    </Fragment>
</Wix>