<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="RevitAddinFolder2023">
            <Component Id="cmp721AC5CEC0D71A1767B04BF0BE8C00F9" Guid="*">
                <File Id="fil618E9891CEF7D3BAC884D99C98DB9079" KeyPath="yes" Source="$(var.ExecutablesPath2023)\Ninject.dll" />
            </Component>
            <Component Id="cmp83C4E49B2B477531E59FA1A52EA419A7" Guid="*">
                <File Id="filB7D9B08610FAC4E3653E479C363A37FB" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.Core.dll" />
            </Component>
            <Component Id="cmp1BE6FB9971E88F3BFDF05D7FCBA61144" Guid="*">
                <File Id="fil29432BB93C3DAABE2C8E00E7FB190890" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.Core.pdb" />
            </Component>
            <Component Id="cmp5A7F7C9759F6084ACF1300A6892CEE29" Guid="*">
                <File Id="fil22AB5DE115EE984B3DE02E30B9F342FC" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.Main.dll" />
            </Component>
            <Component Id="cmpE68C6E971FE1C9FB6B7087698666E7C6" Guid="*">
                <File Id="filE4CB9EB205C29292327B6EEC6AEB8CF8" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.Main.pdb" />
            </Component>
            <Component Id="cmp55A583ACE9739FD9C930FEC17A0CF730" Guid="*">
                <File Id="fil8CB9A64B4D44151E77E4E6C7E72DB6DA" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.UI.dll" />
            </Component>
            <Component Id="cmp1218D64AC37D40EE49AB31959BCC5784" Guid="*">
                <File Id="fil9513B9D528CBFF18A8700D27D1EDCFFF" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.UI.pdb" />
            </Component>
            <Component Id="cmp1D9557E8FAB78F4B8FBE552C08AF6CC2" Guid="*">
                <File Id="fil98B72AAFBB10A0EA800E711A68B92D69" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.Web.dll" />
            </Component>
            <Component Id="cmpD4D36D0A010C922AE78EC512972B346D" Guid="*">
                <File Id="fil7136B4930BF122835AD3859F76117292" KeyPath="yes" Source="$(var.ExecutablesPath2023)\RevitTemplate.Web.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ExecutablesGroup2023">
            <ComponentRef Id="cmp721AC5CEC0D71A1767B04BF0BE8C00F9" />
            <ComponentRef Id="cmp83C4E49B2B477531E59FA1A52EA419A7" />
            <ComponentRef Id="cmp1BE6FB9971E88F3BFDF05D7FCBA61144" />
            <ComponentRef Id="cmp5A7F7C9759F6084ACF1300A6892CEE29" />
            <ComponentRef Id="cmpE68C6E971FE1C9FB6B7087698666E7C6" />
            <ComponentRef Id="cmp55A583ACE9739FD9C930FEC17A0CF730" />
            <ComponentRef Id="cmp1218D64AC37D40EE49AB31959BCC5784" />
            <ComponentRef Id="cmp1D9557E8FAB78F4B8FBE552C08AF6CC2" />
            <ComponentRef Id="cmpD4D36D0A010C922AE78EC512972B346D" />
        </ComponentGroup>
    </Fragment>
</Wix>